.pm25-container {
  text-align: right;
  padding: 10px;
24}


.pm25-container .value {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0;
}

.pm25-container .subvalue {
  font-size: 18px;
  opacity: 0.8;
}

.pm25-container .good { color: #00ff00; }
.pm25-container .moderate { color: #ffa500; }
.pm25-container .bad { color: #ff0000; }
